<br />
<div class="row">
  <div class="col-md-12">
    <span class="follow">Minhas Redes Sociais</span>
  </div>
</div>

<div class="row">
  <div class="col-md-4 img">
    <a href="https://www.linkedin.com/in/felipe-guimarães-46bb3869/" target="_blank">
      <img width="100px" src="../../../assets/img/linkedin.png">
    </a>
  </div>
  <div class="col-md-7 img">
    <a href="skype:felipe.tt92?add" target="_blank">
      <img width="100px" src="../../../assets/img/skype.png">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-4 img">
    <a href="https://github.com/fguimaraess" target="_blank">
      <img width="100px" src="../../../assets/img/github.png">
    </a>
  </div>
  <div class="col-md-7 img">
    <a href="https://api.whatsapp.com/send?phone=5521964332057" target="_blank">
      <img width="120px" src="../../../assets/img/whatsapp.png">
    </a>
  </div>
</div>
