.row {
  margin-top: 10px !important;
}

.skills {
    font-size: 10pt !important;
}

.mat-progress-bar {
    height: 18px !important;
}

.skillName {
  z-index: 1;
  position: absolute;
  color: white;
  font-weight: bold;
  margin-left: 5px;
}