.list-item {
    opacity: 0.7;
    color: #5779FF !important;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
    text-decoration: none !important;
}

.router-link-active, .router-link-active:hover {
    color: #66757f;
}