<mat-card>
  <mat-card-title class="title">Formação Acadêmica</mat-card-title>
  <mat-card-content class="content">
    <span>
      Ensino Superior: Sistemas de Informação (Bacharelado) na Instituição de ensino superior La Salle, em Niterói-RJ,
      concluído em Junho/2017.
    </span>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-title class="title">Experiência Profissional</mat-card-title>
  <mat-card-content class="content">
    <span><strong>Fullstack Developer</strong> na empresa Eleva Educacação (maio/2018-)</span><br>
    <span><strong>Fullstack Developer</strong> na empresa Granado Pharmárcias (junho/2017- maio/2018)</span><br>
    <span><strong>Analista de Sistemas</strong> na empresa Nimbi S.A (março/2014- junho/2017)</span><br>
    <span><strong>Suporte de TI</strong> na empresa Auto Viação 1001 (junho/2013 – outubro/2013)</span><br>
  </mat-card-content>
  <mat-card-actions class="actions">
      <a mat-button [href]="link" target="_blank">Visualizar CV completo</a>
  </mat-card-actions>
</mat-card>
