<br>
<div class="row article">
  <div class="col-md-12">
    Confira as últimas notícias sobre tecnologia no Brasil
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div *ngFor="let news of lastNews">
      <div style="text-align: center" class="col-md-12">
        <img src="{{news.urlToImage}}" width="100px" />
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <a href="{{news.url}}" target="_blank">
            <span>{{news.title}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
