<br />
<div class="user-details">
  <div class="row">
    <div class="col-md-12" id="divPicture">
      <img id="profilePicture" src="../../../assets/img/perfil.jpg" />
    </div>
  </div>

  <div class="user-bio">
    <div class="row">
      <div class="col-md-12">
        <span class="name">Felipe Guimarães</span><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <span class="user-info">Fullstack Developer</span><br />
      </div>
    </div>

    <div class="row" style="width: 80%;">
      <div class="col-md-12 bio-details">
        <span class="bio-details">
          Programador apaixonado e entusiasta, com experiência em .NET, .NET Core 2+, SQL, Angular 2+;<br />
          Bacharel em Sistemas de Informação;<br />
          Capacidade de aprender e se familiarizar com novas tecnologias com rapidez;<br />
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <i class="material-icons mIcons">location_on</i>
        <span class="user-info">Niterói, RJ, Brasil</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <i class="material-icons mIcons">date_range</i>
        <span class="user-info">10 de abril de 1992</span>
      </div>
    </div>


  </div>
</div>
