<mat-card>
  <ul class="list-inline">
    <li class="list-inline-item list-item">
      <a class="social-icon text-xs-center" [routerLink]='["/"]'>Skills</a>
    </li>
    <li class="list-inline-item list-item">
      <a class="social-icon text-xs-center" [routerLink]='["/experiences"]'>Experiências</a>
    </li>
    <li class="list-inline-item list-item">
      <a class="social-icon text-xs-center" [routerLink]='["/projects"]'>Projetos</a>
    </li>
  </ul>
  <hr>
  <router-outlet></router-outlet>
</mat-card>
