<br>
<mat-card>
  <mat-card-title>
    <div class="col-md-12 article">
      Assuntos do momento: Tecnologia
    </div>
  </mat-card-title>

  <mat-card-content>
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let news of lastNews">

          <div class="row">
            <div class="col-md-4">
              <img src="{{news.urlToImage}}" width="80px" height="70px" />
            </div>
            <div class="col-md-8">
              <a href="{{news.url}}" target="_blank">
                <span>{{news.title}}</span>
              </a>
            </div>
          </div>
          <br />

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
